<html>

<head>
    <style>
        #header {
            position: fixed;
            top: 0;
            width: 100%;
            height: 40px;
            /* Height of the footer */
            background: rgb(102, 127, 255);
        }

        p {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="header">
        <p>
            MY BOOK APPLICATION
        </p>
        <a routerLink="home">Home</a> |
        <a routerLink="back">Back</a>
    </div>



</body>

</html>





    


